<h1>Data challenge for Bizmetriks<h1>

In [4]:
import csv
import pandas as pd
import numpy as np

<h2>Ejericio 1<h2>

In [6]:
'''
Como la consigna dice cargar los datos, esta es una forma de carga 
csv --> objeto

with open('datos_arts.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

Sin embargo, nos interesa trabajar con dataframes.
'''
    
datos = pd.read_csv('datos_arts.csv')
df = pd.DataFrame(datos)
#Revisamos que no falten valores y otras verificaciones
print(df.isna().sum().sum())
df.shape
df

0

,grupo,depto,item,articulo,fecha,costo,precio,unidades,importe
0,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000025719,1000025719 JABON EN BARRA BULL DOG GLICERINA 2...,19/08/2020,44.3,54,7.0,378.0
1,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000025724,1000025724 JABON LIQUIDO PAR D.P. 800 CC NEVEX...,19/08/2020,77.5,136,1.0,136.0
2,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000025752,1000025752 JABON LIQ NEVEX MATIC MULTIAC DIF D...,19/08/2020,332.1,410,1.0,410.0
3,15 LIMPIEZA DEL HOGAR,CUIDADO DE SUPERFICIES,1000025907,1000025907 PANO DE PISO STANDARD 50X55 CM,19/08/2020,60.0,79,1.0,79.0
4,15 LIMPIEZA DEL HOGAR,CUIDADO DE SUPERFICIES,1000025908,1000025908 REJILLA 37X37CM.,19/08/2020,43.7,59,1.0,59.0
...,...,...,...,...,...,...,...,...,...
63590,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000187363,1000187363 JABON LIQUIDO DE ROPA PLUMA 800ML,10/11/2020,40.0,50,5.0,250.0
63591,3 COMESTIBLES,GOLOSINAS,1000188100,1000188100 ALFAJOR BOCADO BLANCO TATA x 6,10/11/2020,45.3,62,5.0,310.0
63592,3 COMESTIBLES,ACEITES Y GRASAS,1000194151,1000194151 ACEITE DE OLIVA OLIVARES DE ROCHA 5...,10/11/2020,156.0,240,2.0,480.0
63593,18 PERFUMERIA,CUIDADO CAPILAR,1000215423,1000215423 SHAMPOO HEAD & SHOULDER COCONUT 180 CC,10/11/2020,145.0,259,1.0,259.0
63594,18 PERFUMERIA,CUIDADO CORPORAL,1000218721,1000218721 JABON DOVE ANTIBACTERIAL CUIDA Y PR...,10/11/2020,44.3,59,5.0,295.0

<h2>Ejercicio 2 <h2>

In [8]:
'''
Fecha (un registro por día)
Cantidad_articulos : cantidad de artículos distintos 
para cada fecha
Total_importe: suma de los importes para cada fecha
'''
importe_x_fecha = df.groupby('fecha').sum()['importe'].reset_index()
arts_x_fecha = df.groupby(['fecha']).nunique()['item'].reset_index()

df_importe = pd.DataFrame(importe_x_fecha)
df_arts = pd.DataFrame(arts_x_fecha)
new_df = pd.merge( df_arts, df_importe, how="outer") 

new_df.columns = ['fecha', 'cantidad_articulos', 'total_importe']
new_df

         fecha  cantidad_articulos  total_importe
0   01/09/2020                 725      187805.51
1   01/10/2020                 714      217737.20
2   01/11/2020                 769      244827.88
3   02/09/2020                 777      236752.26
4   02/10/2020                 846      280201.06
..         ...                 ...            ...
79  30/08/2020                 806      246807.36
80  30/09/2020                 683      188665.76
81  30/10/2020                 801      252455.86
82  31/08/2020                 664      182605.31
83  31/10/2020                 852      287103.04

[84 rows x 3 columns]

<h2>Ejercicio 3<h2>

In [139]:
'''
Si la variable grupo es igual a 15 LIMPIEZA DEL HOGAR o 18 PERFUMERIA, 
entonces SECTOR = “NO COMESTIBLES”

Si la variable grupo es igual a 4 LACTEOS o 9 FIAMBRERIA, 
entonces SECTOR = “PERECEDEROS”

El resto de los casos SECTOR = grupo
'''
def rename(grupo):
    if(grupo == "15 LIMPIEZA DEL HOGAR" or grupo == "18 PERFUMERIA"):
        return "NO COMESTIBLES"
    elif(grupo == "4 LACTEOS" or "9 FIAMBRERIA"):
        return "PERECEDEROS"
    else:
        return "grupo"
    

df["SECTOR"] = [rename(a) for a in df["grupo"]]
df

,grupo,depto,item,articulo,fecha,costo,precio,unidades,importe,SECTOR
0,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000025719,1000025719 JABON EN BARRA BULL DOG GLICERINA 2...,19/08/2020,44.3,54,7.0,378.0,NO COMESTIBLES
1,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000025724,1000025724 JABON LIQUIDO PAR D.P. 800 CC NEVEX...,19/08/2020,77.5,136,1.0,136.0,NO COMESTIBLES
2,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000025752,1000025752 JABON LIQ NEVEX MATIC MULTIAC DIF D...,19/08/2020,332.1,410,1.0,410.0,NO COMESTIBLES
3,15 LIMPIEZA DEL HOGAR,CUIDADO DE SUPERFICIES,1000025907,1000025907 PANO DE PISO STANDARD 50X55 CM,19/08/2020,60.0,79,1.0,79.0,NO COMESTIBLES
4,15 LIMPIEZA DEL HOGAR,CUIDADO DE SUPERFICIES,1000025908,1000025908 REJILLA 37X37CM.,19/08/2020,43.7,59,1.0,59.0,NO COMESTIBLES
...,...,...,...,...,...,...,...,...,...,...
63590,15 LIMPIEZA DEL HOGAR,CUIDADO DE LA ROPA,1000187363,1000187363 JABON LIQUIDO DE ROPA PLUMA 800ML,10/11/2020,40.0,50,5.0,250.0,NO COMESTIBLES
63591,3 COMESTIBLES,GOLOSINAS,1000188100,1000188100 ALFAJOR BOCADO BLANCO TATA x 6,10/11/2020,45.3,62,5.0,310.0,PERECEDEROS
63592,3 COMESTIBLES,ACEITES Y GRASAS,1000194151,1000194151 ACEITE DE OLIVA OLIVARES DE ROCHA 5...,10/11/2020,156.0,240,2.0,480.0,PERECEDEROS
63593,18 PERFUMERIA,CUIDADO CAPILAR,1000215423,1000215423 SHAMPOO HEAD & SHOULDER COCONUT 180 CC,10/11/2020,145.0,259,1.0,259.0,NO COMESTIBLES
63594,18 PERFUMERIA,CUIDADO CORPORAL,1000218721,1000218721 JABON DOVE ANTIBACTERIAL CUIDA Y PR...,10/11/2020,44.3,59,5.0,295.0,NO COMESTIBLES

<h2>Ejercicio 4<h2>

In [140]:
'''
Debe haber dos columnas para cada uno de los sectores creados en el ejercicio 3, dichas columna serán:
- promedio de precio
- suma de importe
Los nombres de las columnas son discrecionales y a decisión de Uds.


Las filas deben ser los meses obtenidos de la columna fecha
'''

df2 = df.copy()

# Formateo de fecha
df2['fecha'] = pd.to_datetime(df['fecha'])
fechas = df2['fecha'].dt.strftime('%b-%Y')
df2['fecha'] = fechas

new_df2 = df2.groupby(['fecha', 'SECTOR']).agg(['sum', 'mean']).reset_index()

output_df = pd.DataFrame([])

output_df['fecha'] = new_df2['fecha']
output_df['PERECED precio med'] = new_df2[new_df2['SECTOR'] == 'PERECEDEROS']['precio']['mean']
output_df['PERECED suma importe'] = new_df2[new_df2['SECTOR'] == 'PERECEDEROS']['importe']['sum']
output_df['NO COMEST precio med'] = new_df2[new_df2['SECTOR'] == 'NO COMESTIBLES']['precio']['mean']
output_df['NO COMEST suma importe'] = new_df2[new_df2['SECTOR'] == 'NO COMESTIBLES']['importe']['sum']
output_df['grupo precio med'] = new_df2[new_df2['SECTOR'] == 'grupo']['precio']['mean']
output_df['grupo suma importe'] = new_df2[new_df2['SECTOR'] == 'grupo']['importe']['sum']

output_df = output_df.groupby('fecha')
output_df.first()

,PERECED precio med,PERECED suma importe,NO COMEST precio med,NO COMEST suma importe,grupo precio med,grupo suma importe
fecha,,,,,,
Apr-2020,100.562868,584933.81,176.588339,170881.0,NaN,NaN
Aug-2020,95.646945,2911009.78,160.118834,1029138.0,NaN,NaN
Dec-2020,97.214347,361350.34,166.905149,104051.0,NaN,NaN
Feb-2020,98.311582,575148.68,169.276740,182357.0,NaN,NaN
Jan-2020,97.173373,498690.59,168.264479,151680.0,NaN,NaN
Jul-2020,96.876015,556720.65,170.331230,182948.0,NaN,NaN
Jun-2020,99.494606,544207.27,168.850719,154095.0,NaN,NaN
Mar-2020,100.789885,619418.98,168.237785,190594.0,NaN,NaN
May-2020,100.872237,604141.57,171.137705,179227.0,NaN,NaN
Nov-2020,99.282363,324302.87,167.255663,80850.0,NaN,NaN
Oct-2020,94.527507,3887604.53,167.436850,1221422.0,NaN,NaN
Sep-2020,95.646699,3663707.09,160.883429,1030978.0,NaN,NaN